html{
    background-color:black;
    background-repeat: no-repeat;
}
button{

background-color: #000000;
border-radius: 100px;
box-shadow: rgba(240, 82, 82, 0.925) 0 -25px 18px -14px inset,rgba(248, 5, 5, 0.888) 0 1px 2px,rgba(255, 0, 0, 0.914) 0 2px 4px,rgba(204, 15, 15, 0.767) 0 4px 8px,rgba(153, 0, 0, 0.848) 0 8px 16px,rgba(206, 1, 1, 0.801) 0 16px 32px;
color: rgb(255, 255, 255);
cursor:pointer;
font-family: "Lucida Console", "Monaco", monospace;
padding: 7px 20px;
text-align: center;
border: 0;
font-size: 16px;
}
.btn{

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    }
    .topic{
        margin:0 auto;
        text-align: center;
        font-family: "Lucida Console", "Monaco", monospace;
        text-shadow: 3px 3px #ffffffec;
        color: rgb(255, 0, 0);
    
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }